[submodule ".registry"]
	path = .registry
	url = https://github.com/dusadrian/universe
	branch = HEAD
[submodule "admisc"]
	path = admisc
	url = https://github.com/dusadrian/admisc
[submodule "declared"]
	path = declared
	url = https://github.com/dusadrian/declared
[submodule "venn"]
	path = venn
	url = https://github.com/dusadrian/venn
[submodule "DDIwR"]
	path = DDIwR
	url = https://github.com/dusadrian/DDIwR
[submodule "statistics"]
	path = statistics
	url = https://github.com/dusadrian/statistics
