[submodule ".registry"]
	path = .registry
	url = https://github.com/dusadrian/universe
	shallow = true
	branch = HEAD
[submodule "admisc"]
	path = admisc
	url = https://github.com/dusadrian/admisc
	shallow = true
	registered = true
[submodule "declared"]
	path = declared
	url = https://github.com/dusadrian/declared
	shallow = true
	registered = true
[submodule "venn"]
	path = venn
	url = https://github.com/dusadrian/venn
	shallow = true
	registered = true
[submodule "DDIwR"]
	path = DDIwR
	url = https://github.com/dusadrian/DDIwR
	shallow = true
	registered = true
[submodule "statistics"]
	path = statistics
	url = https://github.com/dusadrian/statistics
	shallow = true
	registered = true
